/* 
Portfolio App : https://nazmi.grapheek.com 
*/

/* petit reset **********/

*, *::before, *::after {
  margin: 0; padding: 0;
  outline: 0; border: 0;
  box-sizing: border-box;
}  

/* on rétablit l'outline pour l'accessibilité */
*:focus {outline: 2px dotted cyan;} 

/* on nettoie un peu en passant */
a {text-decoration: none;} 
ul {list-style: none;} 
button, label {cursor: pointer;}

/* fin petit reset **********/

html, body, #root { height: 100vh; } 

html {
  font-size: 87.5%;
  -webkit-text-size-adjust: 87.5%;
  -ms-text-size-adjust: 87.5%;
  scroll-behavior: smooth;
}

body {
  --main-color: #00c0f3;
  --main-bg: rgb(217,80,125);
  --gradient-violet: linear-gradient(135deg, #d9507d 0%,#7f36fc 100%);
  --gradient-blue: linear-gradient(135deg, #7f36fc 0%,#129cb9 100%);
  --gradient-cyan: linear-gradient(135deg, #129cb9 0%, #21c4a0 100%);
  --gradient-green: linear-gradient(135deg, #21c4a0 0%,#7f36fc 100%);
  --gradient-yellow: linear-gradient(135deg, #7f36fc 0%,#d9507d 100%);
  --gradient-anthe: linear-gradient(135deg,rgba(255,78,0,1) 0%,rgba(229,19,86,1) 100%);
  --gradient-neeva: linear-gradient(135deg, #e5348a 0%,#ab1f67 100%);
  --main-font: azo-sans-web, sans-serif;
  --side-font: futura-pt-bold, sans-serif;
  --main-val: 1rem;
  --main-val2x: 2rem;
  --main-val4x: 4rem;
  --main-marge: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  /* background: url(/home-bg.jpg) no-repeat; */
  /* background-size: cover; */
  background: var( --main-bg, rgb(217,80,125) );
  background: var( --gradient-violet );
}

/* atomic classes */
.gradient, .screen { background: var( --gradient-violet ); }
.gradient-blue { background: var( --gradient-blue ); }
.gradient-cyan { background: var( --gradient-cyan ); }
.gradient-green { background: var( --gradient-green ); }
.gradient-yellow { background: var( --gradient-yellow ); }
.gradient-anthe { background: var( --gradient-anthe ); }
.gradient-neeva { background: var( --gradient-neeva ); }

.side-font, h1, h2, .btn  { font-family: var(--side-font); }

a, .col-main { color: var(--main-color); }
.col-white, .logo { color: white; }

.upp { text-transform: uppercase; }
.tac { text-align: center; }
.mgr1 { margin-right: .5rem; }
.mgl1 { margin-left: .5rem; }

.dis-no { display: none; }
.dis-ib { display: inline-block; }

.btn {
  background: var(--main-color);
  color: white;
  border-radius: var(--main-val4x);
  padding: var(--main-val) var(--main-val2x);
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
}
.skip-link, .sr-only, .hide {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.skip-link:focus { clip: auto; position: relative; }

/* header */
#masthead {
  position: absolute;
  z-index: 99;
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  pointer-events: none; /* pour ne pas que d'autres éléments, comme la flèche gauche, deviennent non-cliquables. On n'oublie pas de remettre à all pour tous les enfants, juste en-dessous */
}
#masthead * { pointer-events: all; }
#masthead::after, #masthead::before {
  content: '';
  background: url(/rectangle.png) repeat-y;
  background-size: 100% auto;
  width: 2rem;
  height: 100vw;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  right: -2rem; top: 6rem; 
  opacity: .3;
}
#masthead::after { 
  height: .785714rem; 
  --animName: run-y;
  animation: 1s ease 0s infinite var(--animName); 
}
#masthead .icons { display: flex; }
#masthead .icons a + a { margin-left: var( --main-marge, 2rem ); }

.logo {
  font-size: var(--main-val2x);
  text-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
  line-height: 1;
}
.logo span { color: var(--main-color); }
.twitter, .git {
  height: 2rem;
  width: 2rem;
  background: url(/twitter.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.git { background-image: url(/git.png); }
#masthead .icons a:hover { animation: spin 1 .4s ease; }

/* views */
.screen {
  height: 100vh;
  position: absolute; z-index: 1;
  left: 100%; top: 0%; width: 0%;	
  overflow: hidden;
  opacity: 0;
}
.inner-screens .screen {
  top: 100%;
  height: 0vh;
  width: 100%; left: 0;
}
.screen-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.screen.active {
  width: 100%; left: 0%;
  opacity: 1;
  --animName: fromRight;
  animation: var(--animName) 1 .85s ease-in;
}
.inner-screens .screen.active {
  height: 100vh; top: 0%;
  --animName: fromBottom;
}
.screen.home { background: none; }

/* nav */
.arrow {
  cursor: pointer;
  background: url(/next.svg);
  background-size: contain;
  height: 2rem;
  width: 2rem;
  position: absolute;	
  filter: brightness(100);
  opacity: .5;
}
.arrow:hover, .nav-next { opacity: 1; }
.nav-next {
  right: var(--main-marge);
  --animName: pulse-x;
  animation: 1s ease 0s infinite var(--animName);
}
.slide .nav-next {
  right: auto;
  bottom: var(--main-marge);
  transform: rotate(90deg);
  --animName: pulse-y;	
}
.nav-previous {
  left: var(--main-marge);
  transform: scaleX(-1);
}
.slide .nav-previous {
  top: var(--main-marge);
  left: auto;
  transform: rotate(-90deg);
}

/* main screen arrows behind child screens bg */
.inner-screens :not(.slide) .arrow {
  z-index: 9;
}

/* remove unnecessary arrows */
.screens-wrapper > :first-child .nav-previous, 
.screens-wrapper > :last-child .nav-next,
.inner-screens .slide:first-of-type .nav-previous,
.inner-screens .slide:last-of-type .nav-next { display: none; }

/* elements */
h1 { 
  font-size: 5rem; 
  letter-spacing: -0.1rem; 
  line-height: 1;
}
.content {
  font-size: 2rem;
  max-width: 38rem;
  margin: 2rem auto;
}

/* on évite un résultat dégeu sur vieux Edge & IE */
@supports (mix-blend-mode: multiply) {
  /*-- ça bug grave sur chrome, on enlève en attendant --*/
  /* #root::before {
      background: url(/home-bg.jpg) no-repeat center right;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      content: '';
      width: 55%;
      background-size: cover;
      mix-blend-mode: multiply;
  } */
}

/* et on désactive sur petites résolutions */
@media screen and (max-width:968px) {
  #root::before { content: none; }
}

/* visual effects */
.btn[target="_blank"]::after {
  content: '';
  background: url(/external-link.png);
  background-size: contain;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin-left: .5rem;
}
.btn {
  transition: all .1s ease;
}
.btn:hover {
  transform: translateY(2px);
  filter: sepia(10%);
}

/* Global Responsive */
@media screen and (min-width:680px) {	
  /* A11Y MODE, thanks to body class .a11y, adding when Skiplink focus */
  .a11y { overflow-y: auto; }
	.a11y #masthead {	position: fixed; }
  .a11y #skip {
    position: absolute;
    z-index: 999;
    right: 10rem;
    top: 2px;
  }
  .a11y #skip li { display: inline-block; }
  .a11y .skip-link {
    color: #fff;
    clip: auto;
    position: relative;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    background: transparent;
    display: inline-block;
  }
  .a11y .skip-link:focus { font-weight: bold; }
  .a11y .screen {
		position: relative;
		top: 0; left: 0;
		opacity: 1;
		width: 100%;
		height: 100vh;
	}
	.a11y .screen.inner-screens,
	.a11y .inner-screens > .screen-body {	height: auto; }
	.a11y .inner-screens .arrow {	display: none; }
	.a11y .inner-screens .slide .arrow { display: block; }
	.a11y .nav-previous {
		left: auto;
		top: var(--main-marge);
		transform: rotate(-90deg);
	}
.a11y .nav-next {
		right: auto;
		bottom: var(--main-marge);
		--animName: pulse-y;
		transform: rotate(90deg);
	}
  /* END A11Y MODE */
}

@media screen and (min-width:1120px) {	
  .a11y #skip { right: 1rem; }
	#masthead {
    width: 14rem;
    height: 100vh;
    flex-direction: column;
  }
  #masthead::after, #masthead::before {
    width: 2rem;
    height: 100vh;
    transform: none;
    right: 0;
    top: 0;
  }
  #masthead::after { height: .785714rem; --animName: run-x; }
  .screen-body {
    padding-left: 16rem;
    padding-right: 16rem; /* 2rem marge en plus du masthead width */
  }
}

/* FLUID TYPO */
@media screen and (max-width:968px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }
  .content { font-size: 1.5rem; margin: 1rem auto 1.5rem; }
  .btn { font-size: 1rem; }
  .btn[target="_blank"]::after { vertical-align: top; }
}
@media screen and (max-width:680px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .content { font-size: 1rem; }
  .screen-body {
    padding-left: 2rem;
    padding-right: 2rem; 
  }
  .nav-previous, .nav-next, .slide .nav-next { bottom: 4rem; }
}

/* keyframes */
@keyframes run-x {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes run-y {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse-x {
  from {
    margin-right: -0.25rem;
  }
  to {
    margin-right: 0;
  }
}
@keyframes pulse-y {
  from {
    margin-bottom: -0.25rem;
  }
  to {
    margin-bottom: 0;
  }
}
@keyframes fromRight {
  from {
    width: 0%; left: 100%; opacity: 0;
  }
  to {
    width: 100%; left: 0%; opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    height: 0vh; top: 100%; opacity: 0;
  }
  to {
    height: 100vh; top: 0%; opacity: 1;
  }
}